body {
    font-family: 'Raleway', sans-serif;
}

#nav {
    background-color: rgba(255,255,255,0.7);
}

#nav a {
    padding: 7px;
    color: black;
}

#nav a.active {
    border-bottom: solid 4px #39789B;
}

.link.desktop {
    line-height: 30px;
}

.link.mobile {
    line-height: 50px;
}

.site-title {
    background-color: white;
}

/* BEGIN LANDING */

.ui.grid.landing {
    padding: 0;
    margin: 0;
}

.ui.content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.landing {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.landing .about {
    color: white;
    position: relative;
}

.landing .about span {
    color: #BDD5EA;
}

.landing .img-container {
    height: 100%;
    background: url("http://i.imgur.com/E59Tz7l.jpg");
    background-size: cover;
}

.landing .img-container.mobile {
    width: 100%!important;
}

.landing .about.desktop {
    background: url('pattern.png');
    height: 100%;
    padding-top: 200px!important;
}

.landing .about.mobile {
    width: 100%;
    background: rgba(15,26,32,0.8);
    padding: 2em;
}

/* END LANDING */

#education {
    margin-top: 40px;
}

/* FOTORAMA STYLES */
.fotorama .caption {
    padding:s 10px;
    /*position: absolute;*/
    /*bottom: 0;*/
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    color: white;
}

.contact {
    height: 200px;
}

.contact-col {
    display: inline-block;
    margin: 10px;
}

.owl-carousel .item {
  margin: 0 auto;
  max-height: 525px;
  height: 525px;
  overflow: hidden;
}

.owl-carousel .item img {
    width: 100%;
    margin: 0 auto;
}

.owl-carousel .caption {
    position: absolute;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    padding: 10px;
}

footer {
    background-color: #39789B;
    color: white;
    margin-top: 30px;
}

footer a {
    color: white;
}

footer a:hover {
    color: #BDD5EA;
}