body {
    font-family: 'Raleway', sans-serif;
}

#nav {
    margin-bottom: 5px;
    background-color: rgba(255,255,255,0.7);
}

#nav a {
    border-color: rgba(34,36,38,.15);
}

#nav a.active {
    border-color: red;
}

#dropdown {
    position: absolute;
    right: 15px;
    top: 15px;
}

.secondary.pointing.menu .active.item {
    border-color: red;
}

.site-title {
    background-color: white;
}

.landing
{
    background-color: black;
    height: 100%;
    width: 100%;
    /*margin-top: 50px;*/
}

.landing .about {
    padding: 4em;
    color: white;
}

.landing .img-container {
    height: 100%;
    background: url("http://i.imgur.com/E59Tz7l.jpg");
    background-size: cover;
}

.landing .about.desktop {
    height: 100%;
}

.landing .about.mobile {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
}

figure {
    height: 250px;
    width: 250px;
    display: block;
    overflow: hidden;
    z-index: 100;
}

.projectcarouselitem {
    height: 100%;
    width: 100%;
    background:  no-repeat center 150px black;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: -500px;
    opacity: 0; 
    padding: 5px;
}

.charactercarouselitem{
    height: 100%;
    width: 100%;
    background:  no-repeat center 150px black;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: -500px;
    opacity: 0; 
    padding: 5px;
}
.socialmediaicon
{
    width: 36px;
}

a:hover figcaption {
    opacity: 0.8;
    left: 0;
    color: #fff;
    transition: all 0.7s;
}

.contactme{
    color:#FFFAFA;
    text-decoration: none;
}

a:link.contactme, a:visited.contactme{
    color:#FFFAFA;
}

figure:hover figcaption {
    opacity: 0.8;
    left:0;
    color:#FFFAFA;
    transition: all 0.7s;
}

/* FOTORAMA STYLES */
.fotorama .caption {
    padding: 10px;
    position: absolute;
    bottom: 0;
}

